*.*\#
\#*
.\#*
*.*~
syn/
work
*.wlf
modelsim.ini
transcript
*.vstf
*.bak
*.vcd
*.h
doc/
*.o
*.bin
*.elf
*.ucdb
Makefile
*.xml
xgui/
*.orig
ip_cores/vme64x-core/
ip_cores/gn4124-core/
ip_cores/etherbone-core/

